
*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

body {
	font-family: time new roman;
	font-size:small;
	background-image: url(../Image/background_website.png);
}

#Top {
	width: 100%;
	height: 45px;
	background-color: #3366CC;
	position:fixed;
	z-index: 100;
}

#Top_Menu {
		
	width: 1070px;
	margin-left:5%;
	z-index: 100;
}

#Top_Left {
	float:left;
	
}

#Top_Left_Logo {
	float:left;
	width:30px;
	height:30px;
	margin-top:8px;
	background-color:#FFFFFF;
}

#Top_Left_Search {
	float:left;
	border:1px soid:#000000;
	width:450px;
	height:25px;
	margin: 10px 10px 0px 15px;
	background-color:#FFFFFF;
	position:relative;
}
#Top_Left_Search_TextSearch{
	width:400px;
	height:25px;
	border:0px;
	padding-left:10px;
}
#Top_Left_Search_ButtonSearch{
	width:35px;
	height:25px;
	position:absolute;z-index:99;top:0;right:0;
	border:0;
	background: url(../Image/icon_search.png) no-repeat;
	cursor:pointer;
}

#Top_Right {
	float:right
}

.Top_Right_Tool {
	float:left;
}
.Top_Right_Tool ul{
	list-style-type:none;
	padding: 10px 0px 0px 10px;
}

.Top_Right_Tool ul li {
	float:left;
	margin-left:10px;
	margin-right:10px;
	font-size:17px;
	
}
.Top_Right_Tool ul li a {
	color: #FFFFFF;
}
#Top_Right_User {
	float: left;
	font-size: 17px;
	margin-top: 10px;
	margin-left:40px;
	width:150px;
}
#Top_Right_User a {
	color: #FFFFFF;
}
#Top_Right_User ul li a{
	color: #000000;
}

#Top_Right_User ul {
	list-style-type:none;
	height:120px;
	background-color:white;
	border: 2px solid #CCCCCC;
}
#Top_Right_User ul {
	display: none;
}

#Top_Right_User:hover > ul{
	display: block;
}		
#Top_Right_User ul li {
	list-style-type:none;
	margin-left: 20px;
	margin-right: 20px;
}
#Top_Right_User ul li:hover {
	background: rgba(0, 0, 0, 0.2);
}
#image_user{
	float:left;
}
#ten_user{
	float:left;
	margin-left: 10px;
}
#website {
	margin-left:65px;
}
#manager_left_0 {
	position: fixed;
}
#mouse img{
	height: 20px;
	width: 20px;
}
#manager_left_0 #mouse {
	position: absolute;
	text-align: left;
	background-color: transparent;
	border-color: transparent;
	opacity: 0;
}
#manager_left_0 a {
	float: left; 
}
#manager_left_0:hover #mouse{
	cursor: pointer;
	opacity: 1;
}

#manager_center{
	margin-top: 20px;
	/*margin-left: 220px;*/
	width:800px;
	float:left;
}
#manager_center:hover{	
	cursor: pointer;
}
#manager_center_header{
	margin-top: 35px;
	height:300px;
	border:1px solid gray;
	background: url(../Image/anhBia1.jpg) no-repeat;
	background-size: 800px 300px;
}
#manager_center_header p{
	width: 250px;
	line-height: 1.5 ;
	padding: 5px;
	color: white;
	background-color:white;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	float: left;
}
#manager_center_nav ul {
	margin-left:30px;
	list-style-type:none;
}
#manager_center_nav{
	height: 50px;
	border: 1px solid blue; 
	/*Thanh menu*/
}
#manager_center_nav ul li {
	float:left;
	height:35px;
	border-right: 1px dotted #999999;
	padding-top:15px;
}
#manager_center_nav ul li a{
	padding: 10px 45px 0px 45px;
	color: #0000FF;
	font-size:18px;
	font-weight:bold;
	
}
#manager_center_nav ul li a:hover{
	color: #666666;
	cursor:pointer;
}
#manager_center_nav_danhsach {
}
#manager_right{
	margin-top: 45px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	width: 225px;
	float:right;

	padding-left: 10px;
}

a{
	text-decoration:none;
}
#clickok{
	margin: 10px;
	height: 40px;
	padding:5px;
	color: #565656;
	background: url(../Image/13.jpg);
	font-weight: bold;
	border-radius: 5%;

}
#clickok:hover{
	cursor: pointer;
	border-radius: 0%;
	background: rgba(0, 0, 0, 0.2);
}
.thanhvien{
	width: 230px;
	height: 264px;
	margin-top: 20px;
	margin-left: 32px;
	float:left;
}
.change-float{
	border: 1px solid #CCCCCC;
	background: url(../Image/13.jpg) no-repeat;
	width:800px;
	height: 200px;
	margin-left:0px;
	clear:both;
	border-radius: 3%;
}
.chiTiet {
	float:left;
	opacity:0;

}
.change-chiTiet{
	color: black;
	color: #333333;
	font-size: 20px;
	width: 300px;
	margin-left: 100px;
	margin-top: 20px;
	opacity:1;
}
.thanhvien p {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana,Geneva,sans-serif;
	width:50px;
	height:25px;
	margin: auto;
	text-align:center;
	background-color:white;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;

}
.thanhvien h2 {
	font-family: Verdana,Geneva,sans-serif;
	color: white;
	font-size: 12px;
	border-radius: 20%;
	text-align:center;
	background-color:white;
	margin: auto;
	margin-top: 100px;
	width:140px;
	height:35px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
}
.anhchandung{
	float: left;
	background: url(../Image/anhdaidien.jpg) no-repeat;
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.anhchandung:hover{
	border-radius: 0%;
	width: 200px;
	height: 200px;
	cursor:pointer;
	position:relative; /* make this relative to have the inner div absolute without     breaking out */
    
}
#thanhvien p{
	font-size: 15px;
	text-align: center;
}

.manager_left_1 ul li{
	list-style-type: none;
	margin-left: 20px;

}

.manager_left_1{
	margin-bottom: 10px;
}
.manager_left_1 ul li a{
	display: block;
	padding: 8px 0px;
}
.manager_left_1 li a:visited{
	color: black;
}
.manager_left_1 li a:hover{
	background-color: GhostWhite ;
}
.manager_left_1 p{
	margin-bottom: 8px;
}
.manager_left_1 ul li img{
	float: left;
	margin-right: 5px;
}

#manager_right{
    margin-top: 55px;
    border-left: 1px solid gray;
    width: 225px;
    float:right;
    position: fixed;
    overflow: none;
    height:600px;
    overflow:scroll;
    margin-left: 1130px
}

#manager_right img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
table{
    border-spacing: 0;
}
tr:hover{
    background:#CCCCCC;
    cursor: pointer;
}
td{
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

#manager_right p{
    color: green;
    font-size: 25px;
}


#manager_left{	
	width:200px;
	height: 100%;
	float:left;
	margin-top: 50px;
	float: left;
	font-size: 16px;*/

}
#manager_left_0{
	margin-bottom: 10px;
}
#manager_left_0 img[alt]{
	border: 1px solid gray;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 100px;
	width: 100px;
}
#manager_left_0 a{
	color: black;
	font-size: 20px;
	float: left;
	margin-top: 40px;
}
#tendoi{
	margin-top: 130px;
	margin-bottom: 15px;
}
#tendoi a{
	font-size: 25px;
}
#tendoi a:hover{
	color: black;
}
.manager_left_1 ul li{
	list-style-type: none;
	margin-left: 0px;
}

.manager_left_1{
	clear: both;
	margin-bottom: 10px;
}
.manager_left_1 ul li a{
	display: block;
	padding: 8px 0px;*/
}
.manager_left_1 li a:visited{
	color: black;
}
.manager_left_1 li a:hover{
	background-color: GhostWhite ;
}
.manager_left_1 p{
	margin-bottom: 8px;
}
.manager_left_1 ul li img{
	float: left;
	margin-right: 5px;*/
}
#xemthemDoibong,#xemthemKhampha{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blue;
}
#xemthemDoibong:hover,#xemthemKhampha:hover{
	text-decoration: underline;
}
#andoi{
	display: none;
}
#anKhampha{
	display: none;
}