
*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

body {
	font-family: time new roman;
	font-size:small;
	background-image: url(../Image/background_website.png);
}

#Top {
	height: 45px;
	background-color: #3366CC;
}

#Top_Menu {
	width: 1000px;
	margin-left:65px;
	height: 45px;
}

#Top_Left {
	float:left;
	
}

#Top_Left_Logo {
	float:left;
	width:30px;
	height:30px;
	margin-top:8px;
	background-color:#FFFFFF;
}

#Top_Left_Search {
	float:left;
	border:1px soid:#000000;
	width:450px;
	height:25px;
	margin: 10px 10px 0px 15px;
	background-color:#FFFFFF;
	position:relative;
}
#Top_Left_Search_TextSearch{
	width:400px;
	height:25px;
	border:0px;
	padding-left:10px;
}
#Top_Left_Search_ButtonSearch{
	width:35px;
	height:25px;
	position:absolute;z-index:99;top:0;right:0;
	border:0;
	background: url(../Image/icon_search.png) no-repeat;
	cursor:pointer;
}

#Top_Right {
	float:right
}

.Top_Right_Tool {
	float:left;
}
.Top_Right_Tool ul{
	list-style-type:none;
	padding: 10px 0px 0px 10px;
}

.Top_Right_Tool ul li {
	float:left;
	margin-left:10px;
	margin-right:10px;
	font-size:17px;
	
}
.Top_Right_Tool ul li a {
	color: #FFFFFF;
}
#Top_Right_User {
	float: left;
	font-size: 17px;
	margin-top: 10px;
	margin-left:40px;
}
#Top_Right_User a {
	color: #FFFFFF;
}
#Top_Right_User ul li a{
	color: #000000;
}

#Top_Right_User ul {
	list-style-type:none;
	height:120px;
	background-color:white;
	border: 2px solid #CCCCCC;
	position:relative;
}
#Top_Right_User ul {
	display: none;
}

#Top_Right_User:hover > ul{
}		
#Top_Right_User ul li {
	list-style-type:none;
	margin-left: 20px;
	margin-right: 20px;
}
#image_user{
	float:left;
}
#ten_user{
	float:left;
	margin-left: 10px;
}
#Website {
	margin-left:65px;
	border:1px solid blue;
}
#Website_Left {
	float:left;
	width: 850px;
	height: 600px;
	background-color:#FFFFFF;
	border: 1px solid blue;
	
}
#Website_Left_AnhBia {
	height: 200px;
	border: 1px solid blue;
	background-color:#565656;
}
#Website_Left_AnhDaiDien {
	width: 170px;
	height: 170px;
	border: 1px solid blue;
	background-color:black;
	margin-top:-190px;
	margin-left:20px;
}
#Website_Left_AnhBia_TenUser {
	margin-left:200px;
	margin-top:120px;
	font-size:30px;
	color:#FFFFFF;
}
#Website_Left_Menu ul {
	margin-left:210px;
	list-style-type:none;
}
#Website_Left_Menu{
	height: 50px;
	border: 1px solid blue;
}
#Website_Left_Menu ul li {
	float:left;
	height:35px;
	border-right: 1px dotted #999999;
	padding-top:15px;
}
#Website_Left_Menu ul li a{
	padding: 10px 45px 0px 45px;
	color: #0000FF;
	font-size:18px;
	font-weight:bold;
	
}
#Website_Left_Menu ul li a:hover{
	color: #666666;
	cursor:pointer;
}
#Website_Left_Inf {
	float:left;
}
#Website_Left_Info{
	width: 320px;
	height: 200px;
	margin-top:30px;
	border: 1px solid blue;
}
#Website_Left_ListTeam {
	width: 320px;
	height: 80px;
	margin-top:30px;
	border: 1px solid blue;
}
#Website_Left_BangTin {
	float:left;
	width: 480px;
	height: 300px;
	margin-top:30px;
	margin-left:30px;
	border: 1px solid blue;
}
#Website_Right {
	padding:auto;
	float:right;
	width: 210px;
	height: 500px;
	border:1px solid blue;
}