
*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

body {
	font-family: time new roman;
	font-size:small;
	background-image: url(background_website.png);
}

#Top {
	height: 45px;
	background-color: #3366CC;
}

#Top_Menu {
	width: 1000px;
	margin-left:65px;
	height: 45px;
}

#Top_Left {
	float:left;
	
}

#Top_Left_Logo {
	float:left;
	width:30px;
	height:30px;
	margin-top:8px;
	background-color:#FFFFFF;
}

#Top_Left_Search {
	float:left;
	border:1px soid:#000000;
	width:450px;
	height:25px;
	margin: 10px 10px 0px 15px;
	background-color:#FFFFFF;
	position:relative;
}
#Top_Left_Search_TextSearch{
	width:400px;
	height:25px;
	border:0px;
	padding-left:10px;
}
#Top_Left_Search_ButtonSearch{
	width:35px;
	height:25px;
	position:absolute;z-index:99;top:0;right:0;
	border:0;
	background: url(icon_search.png) no-repeat;
	cursor:pointer;
}

#Top_Right {
	float:right
}
.Top_Right_Tool {
	float:left;
}
.Top_Right_Tool ul{
	list-style-type:none;
	padding: 10px 0px 0px 10px;
}

.Top_Right_Tool ul li {
	float:left;
	margin-left:10px;
	margin-right:10px;
	font-size:17px;
	
}
.Top_Right_Tool ul li a {
	color: #FFFFFF;
}
#Top_Right_User {
	float: left;
	font-size: 17px;
	margin-top: 10px;
	margin-left:40px;
}
#Top_Right_User a {
	color: #FFFFFF;
}
#Top_Right_User ul li a{
	color: #000000;
}

#Top_Right_User ul {
	list-style-type:none;
	height:120px;
	background-color:white;
	border: 2px solid #CCCCCC;
	position:relative;
}
#Top_Right_User ul {
	display: none;
}

#Top_Right_User:hover > ul{
	display:block;
}		
#Top_Right_User ul li {
	list-style-type:none;
	margin-left: 20px;
	margin-right: 20px;
}
#image_user{
	float:left;
}
#ten_user{
	float:left;
	margin-left: 10px;
}
#Website {
	margin-left:65px;
}
#Website_Left {
	font-size:30px;
	float:left;
	width: 200px;
	height: 500px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	
}
#Website_Right {
	font-size:30px;
	float:right;
	width: 210px;
	height: 500px;
	background-color: #FFFFFF;
	border: 1px solid #000;
}
#Website_Mid_BangTin {
	font-size:30px;
	float:left;
	width:500px;
	height:500px;
	background-color: #FFFFFF;
	border: 1px solid #000;
}

#Website_Mid_QuangCao{
	font-size:30px;
	float:left;
	width: 310px;
	height: 500px;
	margin-left: 10px;
	background-color: #FFFFFF;
	border: 1px solid #000;
} 	